@use '../_general.scss'as gen;

//$light-gray: #f3f3f3;

// $general-gray: #f1f1f1;
// $light-green:#e8f9f4;
// $dark-green: #1cc691;
// $dark-red: #cf7463;
// $text-color: #414141;
* {
    color: gen.$title;
}

#{'.Iubenda'} {
    background-color: gen.$general-gray;

    &__wrapper {
        padding: 20px;

        &-header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0 50px;

            img {
                width: 200px;
            }
        }

        &-main {
            background: white;
            border-radius: 10px;
            border: solid 1px #ddd;
            max-width: 1300px;
            margin: 0 auto;

            &-cookieBannerButton {

                &-wrapper {
                    margin: 60px auto 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 97%;

                    &-button {
                        width: 90px;
                        background: gen.$dark-green;
                        padding: 3px;
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-right: 25px;
                        cursor: pointer;

                        span {
                            display: block;
                            width: 35px;
                            height: 35px;
                            background: white;
                            border-radius: 50%;
                        }
                    }


                    &-text {
                        display: block;
                        width: 100%;
                        font-size: gen.$mediumSize;

                        h2 {
                            margin: 0;
                        }
                    }

                    &-closeSession {
                        padding: 50px 0;
                        display: flex;
                        justify-content: center;

                        b {
                            padding: 0 20px;

                            &:hover {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

//------------------------DOMAINPORCENT--------------------------//
#{'.Iubenda__wrapper-domainPorcent'} {
    border-bottom: solid 1px gen.$general-gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;

    &-left {
        width: 50%;

        &-wrapper {
            display: flex;
            align-items: center;

            &-pc {
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: gen.$light-gray;
                padding: 20px 0;
                border-radius: gen.$br;

                img {
                    width: 70%;
                }
            }

            &-info {
                padding: 20px;

                b {
                    color: gen.$title;
                    font-size: gen.$mediumSize;
                    margin: 0;
                }

                p {
                    font-size: gen.$normalSize;
                    margin: 0;
                }
            }
        }
    }

    &-right {
        width: 50%;

        &-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            &-title {
                display: block;
                font-size: 25px !important;
                font-weight: 700;
                margin-right: 20px;
            }

            &-portcentBox {
                span {
                    border: solid 8px gen.$general-gray;
                    display: block;
                    font-size: gen.$title;
                    border-radius: 50%;
                    border-top-color: gen.$dark-red;
                    padding: 20px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        font-size: gen.$mediumSize;
                        font-weight: 800;
                        color: gen.$dark-red;
                        padding: 0;
                        margin: 0;
                    }
                }

            }
        }
    }
}