@use '../_general.scss';

#{'.Iubenda__wrapper-aceptances'} {
    margin: 40px auto;
    border: solid 1px general.$general-gray;
    width: 97%;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 5px general.$general-gray;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    &-left {
        width: 130px;
        background: general.$light-green;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0;

        img {
            width: 50%;
        }
    }

    &-center {
        padding: 0 40px;
        display: flex;
        align-items: center;

        p {
            font-size: general.$normalSize;
            margin: 0;
        }
    }

    &-right {
        padding: 15px;

        span {
            background: general.$dark-gray;
            color: white;
            font-size: 30px !important;
            display: block;
            line-height: 30px;
            padding: 1px 8px 5px;
            border-radius: 50%;
            transform: rotate(45deg);
        }
    }
}