@use '../_general.scss';

@mixin genSpan {
    //styles
    font-size: general.$normalSize;
    margin-bottom: 20px;
    display: block;
    font-weight: general.$fw6;
}

#{'.buttonStyle'} {
    width: 97%;
    margin: 0 auto 50px;
    padding: 0 40px;

    &__wrapperTop {
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        span {
            @include genSpan;
        }

        &-wrapper {
            display: flex;
            justify-content: flex-start;

            &-inside {
                margin-right: 25px;

                &-boxes {
                    border: solid 1px general.$dark-gray;
                    min-width: 240px;
                    position: relative;
                    overflow: hidden;
                    min-height: 70px;
                    border-radius: general.$br;


                    img {
                        width: 90%;
                        position: absolute;
                        top: 15%;
                        left: 15%;
                        box-shadow: 1px 2px 5px gray;
                    }
                }

                &-boxes.custom {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        font-size: general.$bigSize;
                    }
                }

                &-boxes.active,
                &-boxes:hover {
                    border: solid 1px general.$dark-green;
                    box-shadow: 2px 2px 8px general.$dark-green;
                    cursor: pointer;
                }



                span {
                    text-align: center;
                    font-weight: general.$fw4;
                }

                //boxe
            }
        }

    }

    &__wrapperPosition {
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;

        span {
            @include genSpan;
        }

        &-wrapper {
            display: flex;
            justify-content: flex-start;

            &-left,
            &-right {
                display: flex;
                margin-right: 15px;

                &-span {
                    width: 30px;
                    height: 30px;
                    border: solid 1px general.$dark-gray;
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &-simplepoint {
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: general.$dark-green;
                        margin-bottom: unset !important;
                    }
                }

                p {
                    margin: 2px 0 0 10px;
                    @include genSpan;
                }
            }

        }
    }

}