@use '../_general.scss';

@mixin genSpan {
    //styles
    font-size: general.$normalSize;
    margin-bottom: 20px;
    display: block;
    font-weight: general.$fw6;
}

#{'.cookieBanner'} {
    width: 97%;
    margin: 0 auto;
    padding: 0 40px;

    &__wrapperTop {
        width: 97%;
        display: flex;
        justify-content: flex-start;

        &-left {
            width: 25%;
            min-width: 240px;
            position: relative;

            &::after {
                content: "";
                display: block;
                background: #414141;
                width: 40%;
                height: 50px;
                z-index: 2;
                position: absolute;
                top: 30%;
                left: 20%;
                border-radius: general.$br;
            }

            span {
                @include genSpan;
            }

            &-box {
                margin-right: 15%;
                box-sizing: border-box;
                border-radius: general.$br;
                border: solid 1px general.$dark-gray;
                background-image: url('../images/scuare.jpg');
                display: flex;
                justify-content: flex-end;
                min-height: 30px;

                img {
                    padding: 50px 10px;
                    width: 10%;
                    background: white;
                    border-left: solid 1px general.$dark-gray;
                }
            }

        }

        &-right {


            span {
                @include genSpan;
            }

            &-wrapper {
                display: flex;
                justify-content: flex-start;

                &-inside {
                    margin-right: 25px;

                    &-boxes {
                        border: solid 1px general.$dark-gray;
                        min-width: 240px;
                        position: relative;
                        overflow: hidden;
                        min-height: 130px;
                        border-radius: general.$br;


                        img {
                            width: 90%;
                            position: absolute;
                            top: 15%;
                            left: 15%;
                            box-shadow: 1px 2px 5px gray;
                        }
                    }

                    &-boxes.custom {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            font-size: general.$bigSize;
                        }
                    }

                    &-boxes.active,
                    &-boxes:hover {
                        border: solid 1px general.$dark-green;
                        box-shadow: 2px 2px 8px general.$dark-green;
                        cursor: pointer;
                    }



                    span {
                        text-align: center;
                        font-weight: general.$fw4;
                    }

                    //boxe
                }
            }
        }
    }

    &__wrapperMid {
        span {
            @include genSpan;
        }

        &-wrapper {
            display: flex;

            &-boxes {
                width: 15%;
                min-width: 180px;
                border: solid 1px general.$text-color;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 80px;
                border-radius: general.$br;
                font-weight: general.$fw6;
            }

            &-boxes.active,
            &-boxes:hover {
                border: solid 1px general.$dark-green;
                box-shadow: 2px 2px 8px general.$dark-green;
                color: general.$dark-green;
                cursor: pointer;
            }
        }

    }

    &__wrapperEnd {
        margin-top: 50px;

        span {
            @include genSpan;
        }

        &-wrapper {
            display: flex;

            &-boxes {
                width: 15%;
                min-width: 180px;
                margin-right: 20px;
                border: solid 1px general.$text-color;
                border-radius: general.$br;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 40px;
                    margin-right: 15px;
                }

                p {
                    line-height: 50px;
                    font-weight: general.$fw6;
                }
            }

            &-boxes.active,
            &-boxes:hover {
                box-shadow: 2px 2px 8px general.$dark-green;
                color: general.$dark-green;
                border: solid 1px general.$dark-green;
                cursor: pointer;

                p {
                    color: general.$dark-green;
                }
            }
        }
    }

    &__wrapperSelectors {
        margin-top: 50px;

        span {
            @include genSpan;
        }

        &-buttons {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                span {
                    border: solid 1px general.$dark-gray;
                    height: 25px;
                    width: 25px;
                    margin: 0;
                    border-radius: general.$br;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 70%;
                    }
                }

                p {
                    margin: 0 0 0 10px;
                    font-weight: general.$fw6;
                }
            }
        }
    }

    &__wrapperOthers {
        margin-top: 50px;

        span {
            @include genSpan;
        }

        &-buttons {
            list-style: none;
            margin: 0;
            padding: 0;

            &-IAB,
            &-Google,
            &-autom {
                &-wrapper {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    span {
                        border: solid 1px general.$dark-gray;
                        height: 25px;
                        width: 25px;
                        margin: 0;
                        border-radius: general.$br;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        img {
                            width: 70%;
                        }
                    }

                    p {
                        margin: 0 0 0 10px;
                        font-weight: general.$fw6;
                    }

                    b {
                        background: general.$dark-gray;
                        color: white;
                        line-height: 21px;
                        padding: 0 7px;
                        border-radius: 30px;
                        margin-left: 10px;
                        cursor: pointer;

                    }
                }

                &-info {
                    display: flex;
                    background: #ffe5e0;
                    width: fit-content;
                    margin-bottom: 10px;
                    position: relative;
                    padding: 10px 20px;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        transform: rotate(50deg);
                        border-top: solid 25px #ffe5e0;
                        border-left: solid 30px transparent;
                        border-bottom: solid 0px transparent;
                        border-right: solid -20px transparent;
                        left: -13px;
                        top: -10px;
                    }

                    img {
                        width: 30px;
                    }

                    p {
                        @include genSpan;
                        color: general.$dark-red;
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
    }
}