@use '../_general.scss';

#{'.Foother'} {
    border-top: solid 1px general.$dark-gray;
    padding: 70px 20px;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span,
        button {
            font-size: general.$normalSize;
            display: block;
            font-weight: general.$fw6;
            cursor: pointer;
            padding: 0 20px;
        }

        button {
            background: general.$dark-green;
            color: general.$light-green;
            border: solid 1px general.$dark-green;
            border-radius: general.$br;
            font-weight: general.$fw1;
            cursor: pointer;

            border-radius: 25px;
            padding: 10px 80px;


        }

    }
}