$light-gray: #fafafa;
$general-gray: #f1f1f1;
$dark-gray: #cecece;
$light-green:#e8f9f4;
$dark-green: #1cc691;
$dark-red: #cf7463;
$text-color: #414141;

// font sizes
$bigSize: 2em;
$mediumSize: 1.7em;
$normalSize: 1.2em;

// test color 
$title: $text-color;

// border radius 
$br: 5px;

// font weight
$fw6: 600;
$fw1: 100;
$fw4: 400;

@mixin genSpan {
    //styles
    font-size: general.$normalSize;
    margin-bottom: 20px;
    display: block;
    font-weight: general.$fw6;
}

// example  
//   .sidebar {
//     @include app-background(#c6538c);
//   }